html {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.amazon-cart-button {
  background-color: rgb(255, 216, 20);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}

.uber {
  margin-top: 50px;
  margin-bottom: 50px;
}

.uber button {
  border: none;
  font-weight: bold;
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.uber-request-button {
  background-color: black;
  color: white;
  margin-right: 10px;
}

.uber-schedule-button {
  background-color: rgb(230, 230, 230);
  color: black;
}

.gaming-button {
  margin-top: 30px;
  background-color: black;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.three-button {
  margin-top: 30px;
  background-color: black;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.three-buttons {
  margin-top: 30px;
}

.is-toggled {
  background-color: rgb(230, 230, 230);
  color: black;
}

.calculate {
  margin-top: 50px;
}

.css-cost-input {
  font-size: 15px;
  padding: 10px;
}

.calculate-button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 15px;
  font-size: 15px;
  cursor: pointer;
}

.error-message {
  color: red;
}

.calculator-body {
  margin-top: 30px;
}

.calculator-regular-button {
  background-color: rgb(51, 51, 51);
  color: white;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
  text-align: center;
}

.calculator-clear-button {
  font-size: 17px;
}

.calculator-operation-button {
  background-color: orange;
  color: white;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
  text-align: center;
}